<%@coupons.each do |coupon|%>
<label>Coupon Code:</label>
<%=coupon.coupon_code%> <br>
<label>Store:</label>
<%=coupon.store %> <br>
<%=link_to coupon.coupon_code, coupon_path(coupon)%><br>
<br>
<br>
<%end%>
