<h1>List of all Coupons</h1>
<ul style="list-style: none;">
<%= @coupons.each do |coupon| %>
<li>
    <%= link_to coupon.coupon_code, coupon_path(coupon) %>
    <%= coupon.store %>
    </li>
<% end %>
</ul>